<?xml version="1.0"?>
<robot name="my_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

<gazebo>
   <plugin 
   filename="gz-sim-diff-drive-system"
    name="gz::sim::systems::DiffDrive"/> 
    <left_joint>base_left_wheel_joint</left_joint>
    <right_joint>base_right_wheel_joint</right_joint>
    <wheel_seperation>0.45</wheel_seperayion>
    <wheel_radius>0.1</wheel_radius>
    <frame_id>odom</frame_id>
    <child_frame_id></child_frame_id>

    </plugin>
    
    
    </gazebo>




    

</robot>